<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Express server</title>
    <link href='../public/style.css' rel='stylesheet'></link>
</head>
<body>

    <h1>Login page</h1>
    <form method="post">
        <label for="usName">Username</label>
        <input id="usName" type="text" name="username" placeholder="Your login" required>
        <br>
        <label for="usPass">Password</label>
        <input id="usPass" type="password" name="password" placeholder="Your password" required>
        <br>
        <button name="submit">Login</button>                      
    </form>  
    <a href="/createuser">Create new user</a>
    
</body>
</html>